@font-face {
  font-family: Branding;
  src: url(Branding-BlackItalic.woff2) format('woff2'), url(Branding-BlackItalic.woff) format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Branding;
  src: url(Branding-Semilight.woff2) format('woff2'), url(Branding-Semilight.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
